<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Autocrypt.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA3FA50229026BF900F3B1D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA3FA51829026BF900F3B1D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA3FA52229026BFA00F3B1D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
